# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data

# Files from Forge MDK
forge*changelog.txt

# Minecraft data generator cache
.cache
fabric/src/main/generated/*
!fabric/src/main/generated/.gitkeep
forge/src/generated/*
!forge/src/generated/.gitkeep
neoforge/src/generated/*
!neoforge/src/generated/.gitkeep